
body{
   font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}
.conteiner{
    display: block;
    max-width: 780px;
    min-width: 400px;
    width: 100%;
    background: rgb(251, 252, 255);
    border: 1px solid rgb(245, 244, 244);
    border-radius: 5px;
    box-shadow: 0 0px 10px rgb(224, 242, 246);
    padding: 40px 40px;
    margin:50px auto;
   }
h1{
    color: #7c7c7c;
    font-size: 32px;
    font-weight: 500;
    margin: 0;
    padding: 0 0 10px 0;
   }
ul {
    padding: 0;
    list-style: none;
    margin: 0;
}
li {
    color: #7c7c7c;
    font-size:18px;
     
    font-weight: 300;
    line-height: 1.2;
    list-style: none;
}
.todayweather{
    text-transform: capitalize;
}
.weather-city-result{
    padding:60px 20px 40px 20px;
   }
#search-button{
    padding: 0px 20px 0 5px;
}
#input-city{
    padding: 0 5px 0 20px;
}
#button-w100{
    background: rgb(241, 86, 9);
    border: 1px solid rgb(241, 86, 9);
}
#city-day-param{
    padding: 0 0 40px 0;
}
#img-temp-c-f{
    display: flex;
    align-items: center;
    padding: 0 0 40px 0;
}
.units {
    padding: 0 5px;
    position: relative;
    top: -20px;}
#degrees-temp{
    font-size: 54px;
}
.weather-for-five-days{
    display: flex;
align-items: stretch;
}
.col{
text-align: center;
color: #7c7c7c;
}
#degrees-temp{
color: #7c7c7c;
    font-size: 64px;
    font-weight: 500;
    line-height: 1;
}
#icon{
    height: 180px;
}
.git-source{
   display: block;
   text-align: center;
   margin: 0 auto;
}